/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент #2196F3 */
/* цвет фона #FFFF */
/* вторичный цвет фона #F5F4FA */



:root {
      --primary-text-color: #212121;
      --title-text-color: #757575;
      --accent-color: #2196F3;
      --primary-white-color: #FFFF;
      --secondary-background-color: #F5F4FA;

}
.body {
      font-family: sans-serif;
      font-size: 20px;
      background-color: var(--primary-white-color);
      color: var(--primary-text-color);


}

a {
      text-decoration: none;
}
ul {
      list-style: none;
}

.visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
}
/* ================= logo =============================*/
.logo{
      color:var(--primary-text-color);
      line-height: .838;
}
.logo-accent {
      color:var(--accent-color);
}


/* =============== Site nav ====================*/

.address-mail,
.address-tel,
.site-nav-link {
      color: var(--primary-text-color);
      line-height: .875;

}

.site-nav-link:focus,
.site-nav-link:hover,
.address-mail:focus,
.address-mail:hover,
.address-tel:focus,
.address-tel:hover {
      color: var(--accent-color);
}
.site-nav .site-nav-link.current {
      color: var(--accent-color);

}

/* Section */


/* ===================== Hero ===================== */

.section-title-hero {
      text-transform: uppercase;
      text-align: center;
      line-height: 60px;
      letter-spacing: 0.06em
}

/* ================ Section-Aside =============== */
.section-aside-subtitle{
      color: var(--primary-text-color);
      line-height: .875;
}
.section-aside-subtitle-text {
      color: var(--title-text-color);
      line-height: 24px;
}

/* ================ Section-Command ============ */

.section-command-worker {
      color: var(--primary-text-color);
      line-height: .842;
}
.section-command-specialty {
      color: var(--title-text-color);
      line-height: .842;
      
}


/* =============== Section Title ================== */
.section-title {
      color: var(--primary-text-color);
      text-align: center;
      line-height: .857;
}

/* ====================== Botton ================ */

.menu > li {
      border: 1px solid tomato;
}

.social-links a {
        color: blue;
        text-decoration: none;
}

/* =================== Footer =================== */

.post-title {
      letter-spacing: 10px;
}

.post-text {
      letter-spacing: 5px;
}